.about{
    position: relative;
    padding-top: clamp(60px, 11.803vw, 127px);
    @include mobile{
        margin-bottom: 60px;
    }

    &__bg{
        position: absolute;
        left: 0;
        top: 42%;
        width: Min(11.5vw, 161px);
        height: Min(22.357vw, 313px);
        z-index: -1;
        pointer-events: none;

        img,picture{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @include mobile{
            top: 47%;
        }
    }
}