.game{
    position: relative;
    background: var(--gr-c);

    &__box{
        padding: clamp(80px, 11.71vw, 126px) 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-gap: 20px;
    }

    &__title{
        font-family: var(--font-family2);
        font-weight: 500;
        font-size: clamp(36px, 5.7621vw, 62px);
        line-height: 120%;
        text-transform: uppercase;
        text-align: center;
        color: rgba(var(--cl-a),1.0);
        
        &-yellow{
            background: var(--gr-b);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &__image{
        position: absolute;
        left: 0;
        top: 0;
        width: Min(19.214vw, 269px);
        height: Min(22vw, 308px);

        &::before{
            content: '';
            position: absolute;
            width: Min(22.214vw ,311px);
            height: Min(22.214vw ,311px);
            border-radius: clamp(8px, 1.5799vw, 17px);
            right: 0;
            top: 0;
            background-color: rgba(var(--bg-a), 1);
            opacity: 0.15;
            transform: translate(15%, -43%) rotate(-67deg);
            z-index: 0;
        }

        img,picture{
            width: 100%;
            height: 100%;
            z-index: 2;
        }

        &--mode{
            left: initial;
            right: 0;
            top: initial;
            bottom: -28%;
            width: Min(23.143vw, 324px);
            height: Min(27.857vw, 390px);

            &::before{
                transform: translate(-27%, 32%) rotate(-16deg);
            }

            @include tablet{
                @include for-mobile{
                bottom: -22%;
                }
            }

            @include mobile{
                @include for-ios{
                bottom: -17%;
                }
            }

            @include ios{
                bottom: -13%;
            }
        }
    }
}