<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        <picture>
          <source type='image/webp' srcset='img/logo.webp'>
          <img class='logo' width='86' height='76' src='img/logo.png' alt='DEGY logo'>
          </picture>
      </div>

      <div class="footer__info">
        <ul class="footer__nav nav">
          <li class="nav__item">
            <a class="nav__link nav__link--active" href="#">Discovery</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Our legend</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Roadmap</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">FAQ</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Mint</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Farming</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Marketplace</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Smartcontracat</a>
          </li>
        </ul>

        <div class="footer__socials-info">
          <div class="footer__socials-title">Join our community</div>

          <ul class="footer__socials">
            <li class="footer__socials-item">
              <a class="footer__socials-link" href="#">
                <svg  width='16' height='16'>
                  <use href='img/sprite/sprite.svg#google'></use>
                </svg>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link" href="#">
                <svg  width='19' height='19'>
                  <use href='img/sprite/sprite.svg#discord'></use>
                </svg>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link" href="#">
                <svg  width='18' height='18'>
                  <use href='img/sprite/sprite.svg#telegram'></use>
                </svg>
              </a>
            </li>
            <li class="footer__socials-item">
              <a class="footer__socials-link" href="#">
                <svg  width='18' height='18'>
                  <use href='img/sprite/sprite.svg#twitter'></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__bot">
        <div class="footer__copyright">Copyright © 2021. DEGY. All rights reserved.</div>
        <div class="footer__terms">
          <a class="footer__terms-links" href="#">Terms & Conditions</a>
          <a class="footer__terms-links" href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</footer>