<header class="header">
  <div class="container">
    <div class="header__inner">
      <a class="header__logo" href="#">
        <picture>
        <source type='image/webp' srcset='img/logo.webp'>
        <img class='logo' width='100' height='100' src='img/logo.png' alt='DEGY logo'>
        </picture>
      </a>
      <nav class="header__nav">
        <ul class="header__nav-list nav">
          <li class="nav__item">
            <a class="nav-link nav__link--active" href="#">Discover</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Airdrop</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Mint</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Marketplace</a>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="#">Farm</a>
          </li>
        </ul>
      </nav>

      <button class="burger-menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <div class="header__btns">
        <div class="profile">Profile</div>
        <div class="wallet" data-path="wallet">Connect wallet</div>
      </div>
    </div>
  </div>
</header>